<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.db.MemberMapper">

	<insert id="join" parameterType="MemberVO">
		insert into member
		(mem_id, mem_pw, mem_nick, mem_address, mem_tel, rate_name) values (#{mem_id},
		#{mem_pw}, #{mem_nick}, #{mem_address}, #{mem_tel}, #{rate_name})
	</insert>

	<select id="login" parameterType="MemberVO"
		resultType="MemberVO">
		select * from member where mem_id=#{mem_id} and
		mem_pw=#{mem_pw}
	</select>
	<select id="getNick" parameterType="MemberVO"
		resultType="MemberVO">
		select * from member where mem_id=#{mem_id}
	</select>
	

	<update id="MemberUpdate" parameterType="MemberVO">
		update member set
		mem_pw=#{mem_pw}, mem_nick=#{mem_nick}, mem_address=#{mem_address},
		mem_tel=#{mem_tel} where mem_id=#{mem_id}
	</update>

	<delete id="MemberDelete">
		delete from member where
		mem_id=#{mem_id}
	</delete>

	<select id="idCheck" resultType="MemberVO">
		select * from member where mem_id=#{mem_id} 
	</select>


</mapper>